body {
  background: #6d5d5d;
}

.dino {
  position: relative;
  bottom: 0;
  background-image: url(dino.png);
  background-position: initial;
  width: 150px;
  height: 150px;
}

.cactus {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  background-image: url(cactus.png);
}

.game-over {
  text-align: center;
  font-size: 90px;
  text-transform: uppercase;
  color: rgb(133, 11, 11);
  margin: 50px 0;
  font-family: arial;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 0px;
  background-image: url('background.png');
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;
}
